<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать!</title>
</head>
<body>
    <h2>Добро пожаловать в HeartBit!</h2>
    <p>Здравствуйте, {{.Email}}!</p>
    <p>Спасибо за регистрацию. Пожалуйста, подтвердите ваш email, перейдя по ссылке ниже:</p>
    <p><a href="{{.ConfirmationLink}}">Подтвердить email</a></p>
    <p>Если вы не регистрировались, просто проигнорируйте это письмо.</p>
    <br>
    <p>С уважением,<br>Команда Heart-Bit</p>
</body>
</html>

